@import "../utils/variables";
@import "../utils/mixins";

.hook {
  h1 {
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: $text-xl;
    line-height: 1; // Should be $leading-loose but voluntarily set to 1 so I can control the distance from the top of the page
    letter-spacing: $tracking-tight;

    @include media-gte-lg {
      margin-bottom: 0;
    }
  }

  .description {
    margin-top: 38px;

    h3 {
      margin-bottom: 10px;

      font-family: $font-accent;
      font-weight: $font-semibold;
      font-size: $text-lg;
      line-height: $leading-relaxed;
      text-transform: uppercase;
    }

    p {
      font-family: $font-accent;
      font-size: $text-md;
      line-height: $leading-snugger;
    }
  }
}