@import "../utils/variables";
@import "../utils/mixins";

body {
  display: flex;
  flex-direction: column;
  row-gap: $body_margin-bottom;

  main {
    margin: $body_margin-top__mobile $body_margin-x 70px $body_margin-x; // 70px is the distance from footer

    @include media-gte-lg {
      margin: $body_margin-top__desktop auto 70px auto;
    }
  }

  footer {
    margin-bottom: $body_margin-bottom;
  }
}